.Rproj.user
.Rhistory
.RData
.Ruserdata
_site/*
.DS_Store
*.log
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.env
code/python_foundation/data/*.gpkg
code/python_foundation/data/*.txt
code/python_foundation/data/*.csv
code/python_foundation/srtm/*.hgt
code/python_foundation/geonames/*.txt
code/python_foundation/output
docs/code/python_foundation/data
docs/code/python_foundation/output
__pycache__

