.Rproj.user
.Rhistory
.RData
.Ruserdata
_site/*
.DS_Store
*.log
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.env
code/python_foundation/output
code/python_foundation/data
docs/code/python_foundation/data
docs/code/python_foundation/output
code/python_dataviz/output
code/python_dataviz/data
docs/code/python_dataviz/data
docs/code/python_dataviz/output
__pycache__

